@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  
  /* Custom Color Palette */
  --primary: #499537;
  --secondary: #3D98D1;
  --tertiary: #D4A27A;
  --quaternary: #C2B7DA;
  
  /* Semantic Colors */
  --error: #CA545A;
  --warning: #C5953B;
  --success: #677D00;
  --info: #627ACE;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
